/*-----------------------------------------------------------------

Project     :   VenToT - Conference, Seminar & Event HTML Template
Version     :   1.0
Author              : Thesoftking
Front-end developer : Mamunur Rashid
=====================================================================

[Table of contents]

1. Base CSS
2. Site Preloader
3. Section Title
4. Home One
   - 1.manu top
5. Home Two
   -1. Support Bar
   -2. Menu Bar Area Start
6. Slider
7. About Us area start
8. Start venues Area
9. Schedule_area
10. Photo Gallery
11. pricing area
12. Purchase  css
13. Speakers Area
14. Testimonial
15. Upcoming Event
16. Latest News
17. Partner
18. Contact Form
19. About Us Page
20. Event Schedule Area Css Start
21. event page
22. Speaker Profile area Start
23. Become Sponsor Area Css Start
24. Breadcrumbs Area Css Start
25. Pricing Page
26. Blog Page
27.Blog Single
28. 404 Page
29. Faq Page
30. Contact Pages
31. Click BottomToTop
32. Footer

==================================================================*/

/*====================================================================
1. Base CSS
======================================================================*/

/*--Google Font Import--*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700");

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}
body {
    font-weight: 400;
    color: #242424;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}
a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}
a,
button {
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
a {
    color: #2c3e50;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1,
.h1,
.h2,
.h3 {
    margin-bottom: 0px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0px;
}

.margin-0 {
    margin: 0
}

.form-control {
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
    border-radius: 2px;
}
.form-control:focus{
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
}
.modal {
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.49);
}
.affix {
    width: 100%;
}
.heading-title p {
    max-width: 550px;
    margin: 0 auto;
}
#map {
	width: 100%;
	height: 725px;
}
.mr-btn-fill-2{
    color: #fff;
    background: #00FFD0;
    border: 1px solid #00FFD0;
    padding: 10px 39px;
    font-size: 18px;
    border-radius: 50px;
    display: inline-block;
}
.mr-btn-fill-2:hover{
    color: #242424;
    background: #ff2d5300;
    border: 1px solid rgba(36, 36, 36, 0.2);
}
.c1{
   color: #5abd24;
}
.c2{
   color: #00FFD0;
}
.c3{
   color: #0d80f6;
}
.bg1{
   background: #5abd24;
}
.bg2{
    background: #e62b1e;
}
.bg3{
    background: #0d80f6;
}

/*=================================================
2. Site Preloader
===================================================*/
.site-preloader {
    background-color: #00FFD0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.site-preloader .spinner {
    width: 60px;
    height: 60px;
    margin: 21% auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/*==============================================================
3. Section Title
===============================================================*/
.heading-title {
    padding: 0 0 46px;

}
.home1 .about-area .heading-title {
    padding: 0 0 0px;
}
.heading-title .subtitle{
    font-size: 24px;
    color: #00FFD0;
    line-height: 30px;
    font-style: normal;
    text-align: center;
}
.heading-title h2 {
    font-size: 36px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
}
 .bordershep {
    background: url(../images/border.png) no-repeat center;
    width: 118px;
    height: 2px;
    text-align: center;
    margin: 11px auto 25px;
}
.home1 .about-area .bordershep {
    margin: 11px 0 23px;
}
.affix {
    top: 0;
}

/*==================================================
4. Home One
====================================================*/

/* manu top*/

.index_1 .support-bar-area{
    display: none;
}
.index_1 header.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}
.index_1  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 225, 225, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler:focus{
    outline: 0px;
}

#mainHeader.header.stiky.stiky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #000;
    border-bottom: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
#mainHeader.header.stiky.stiky .nav-link{
    color: #fff;
}
#mainHeader.header.stiky.stiky .nav-link i{
    color: #919191;
}
#mainHeader.header.stiky.stiky  .mr_btn_fill:hover {
    background: #f75f7b00;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.20);
}
#mainHeader.header.stiky.stiky .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.logo-dark{
  display: none!important;
  width: 20%;
}
.displatNone{
    display: none!important;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.displatBlock{
    display: block!important;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.hideme{
   visibility: hidden;
   -webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
   -o-transition:all 0.3s ease-in-out;
   transition:all 0.3s ease-in-out;
}

.index_1 .slide-caption .slider-inner .caption-desc{
    color: #00FFD0;
}
.index_1 .slide-caption {
    text-align: left;
}
.index_1 .slide-caption .slider-inner .slide-btn a {
    text-align: center;
}
.index_1  .slide-caption .slider-inner .caption-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.index_1 .slide-caption .slider-inner .caption-desc {
    font-size: 70px!important;
    line-height: 70px!important;
    font-weight: 300!important;
    text-transform: uppercase;

}
.index_1 .slide-caption p{
    font-weight: 400;
    font-size: 15px;
}
.index_1 .timer .timer-wrapper:first-child {
    background: #ffffff;
}
.index_1 .timer .timer-wrapper:nth-child(2) {
    background: #ffffff;
}
.index_1 .timer .timer-wrapper:nth-child(3) {
    background: #ffffff;
}
.index_1 .timer .timer-wrapper:nth-child(4) {
    background: #ffffff;
}

.index_1 .conferences{
    padding: 94px 0px 92px;
    background: url('/MATO/d3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.index_1
 .conferences .heading-title {
    padding-bottom: 44px;
}
.index_1 .conferences .overlay {
    background: rgba(0, 0, 0, 0.8);
}
.index_1 .conferences h2,
.index_1 .conferences p{
    color: #fff;
}

.index_1 .conferences .date{
    font-size: 18px;
    margin-bottom:  25px;
}
.index_1.home1 .latest-news-area {
    padding: 94px 0px 70px;
    background: #000;
}
/* Start Latest News Area for index1 */
.index_1 .latest-news-area{
    padding: 94px 0px 100px;
}
.index_1 .mr_btn_fill:hover {
    background: #f75f7b00;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.10);
}



/*==================================================
5. Home Two
====================================================*/

/* -1. Support Bar*/
.support-bar-area{
    background-color: #1A1E21;
    padding: 13px 0 11px 0;
}
.support-bar-area .left-content-wrapper {
    display: inline-block;
}
.support-bar-area .left-content-wrapper ul {
    margin: 0;
    padding: 0;
}
.support-bar-area .left-content-wrapper ul li{
    display: inline-block;
    margin: 0 8px;
}
.support-bar-area .left-content-wrapper ul li:first-child{
    margin-left: 0;
}
.support-bar-area .left-content-wrapper ul li a{
    color: #e2e2e2;
    font-size: 14px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.support-bar-area .left-content-wrapper ul li a:hover{
    color:#00FFD0;
}
.support-bar-area .left-content-wrapper ul li a i {
    padding-right: 10px;
    color:#00FFD0;
    font-size: 16px;
}
.support-bar-area .right-content-wrapper {
    display: inline-block;
    float: right;
}
.support-bar-area .right-content-wrapper ul{
    margin: 0;
    padding: 0;
}
.support-bar-area .right-content-wrapper ul li{
    display: inline-block;
    margin: 0 8px;
}
.support-bar-area .right-content-wrapper ul li:last-child{
    margin-right: 0;
}
.support-bar-area .right-content-wrapper ul li a{
     color: #e2e2e2;
     -webkit-transition:all 0.3s ease-in-out;
     -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
     transition:all 0.3s ease-in-out;
     font-size: 14px;
}
.support-bar-area .right-content-wrapper ul li a:hover{
     color:#00FFD0;
}

/* -2. Menu Bar Area Start */
.header .navbar-nav .nav-link {
    padding: 30px 10px 30px;
    color: #242424;
}
.navbar-light .navbar-nav .active > .nav-link{
    color: #242424;
}
.header .navbar .mr_btn_fill{
    padding: 8px 20px;
    margin-top: 0px!important;
    margin-left: 8px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.0);
    border-color: rgba(0,0,0,.0);
    padding: 10px 0px;
    margin-right: 15px;
}
.navbar-nav .nav-item .nav-link{
    position: relative;
    text-transform: capitalize;
}
.index_1 .navbar-nav .nav-item .nav-link{
    position: relative;
    color: #fff;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #00FFD0;
}
.navbar-nav .nav-item .nav-link::before{
    position: absolute;
    content: '\f107';
    font-family: FontAwesome;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #00FFD0;
    opacity: 0;

}

.ab-link, .con-link{
    width: 100px;
}

.navbar-nav .nav-item.active .nav-link::before{
    opacity: 1;
}

.navbar-nav  .modal .modal-content{
    padding: 30px;
}
.navbar-nav  .modal .modal-content .mr-search{
    width: 100%;padding: 10px 15px;
    margin-bottom: 15px;
}
.navbar-nav .modal .modal-content .submit{
    background: #0087fe00;
    border: 1px solid #00FFD0;
    color: #00FFD0;
    padding: 7px 20px;
    border-radius: .25rem;
    cursor: pointer;
}
.navbar-nav  .modal .modal-content .submit:hover{
    background: #00FFD0;
    border: 1px solid #00FFD0;
    color: #fff;
}
.modal-backdrop {
    z-index: 0;
}
/* .header .navbar .navbar-nav {
    padding: 15px;
} */
.header .dropdown-menu .dropdown-item {
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.header .dropdown-menu .dropdown-item:hover{
    color: #fff;
    background: #00FFD0;
}
.header .dropdown-menu .dropdown-item.active{
    color: #fff;
    background: #00FFD0;
}
.header .dropdown-menu .dropdown-item:focus{
    color: #fff;
    background: #00FFD0;
}
.dropdown-menu {
    border-radius: 0px;
    margin-top: 0px;
}
.nav-item.dropdown:hover .dropdown-menu{
    display: block;
}

.timer {
    text-align: center;
  }

  .timer .timer-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: .25rem;
    margin: 0px 25px;
    position: relative;
  }
  .timer .timer-wrapper::before{
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      transform: rotate(45deg);
      border-radius: .25rem;

  }
  .timer .timer-wrapper:first-child::before{
      background: #00FFD0;
  }
  .timer .timer-wrapper:nth-child(2)::before{
      background: #6600ff;
  }
  .timer .timer-wrapper:nth-child(3)::before{
      background: #0d80f6;
  }
  .timer .timer-wrapper:nth-child(4)::before{
      background: #5abd24;
  }


  .timer .timer-wrapper span{
      display: block;
  }

  .timer .timer-wrapper .time {
    font-size: 36px;
    color: #00FFD0;
    position: absolute;
    font-weight: 600;
    left: 50%;
    top: 50%;
    line-height: 29px;
    transform: translate(-50%, -50%);
  }

  .timer .timer-wrapper .text {
    font-size: 18px;
    color: #00FFD0;
    font-weight: 400;
  }


/* ===================================================
6. Slider
======================================================*/
.slider-area{
    position: relative;
    background: url('/MATO/nividia.jpg') no-repeat center;
    background-size: cover;
}
.slide-caption .slider-inner .slide-btn a{
    margin: 0 10px;
}
.slide-caption .slider-inner .slide-btn{
    margin-top: 38px;
}
.slide-caption .slider-inner{
    max-width: 1110px;
    margin: 0 auto;
}
.home1 .slide-caption .slider-inner{
    padding-right: 300px;
}
.home-2.slide-caption  .slider-inner .caption-title{
    margin-bottom: 34px;
}
.slide-caption .slider-inner .caption-title {
    font-size: 60px;
    text-transform: none;
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 55px;
}
.index_1 .slide-caption .slider-inner .caption-desc {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.index_1 .slide-item {
    padding: 310px 0 240px 0;
}
.slide-item {
    padding: 235px 0 240px 0;
    position: relative;
    width: 100%;
    display: table;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}
.slide-caption {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.slide-caption h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
    margin: -8px 0 10px;
    color: #fff
}
.index_2 .slide-caption h3 {
    margin: 0 auto;
    color: #c02240;
    font-size: 24px;
    margin-top: 0;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.index_2 .navbar-nav .nav-item .nav-link i{
    color: #919191;
}
.slide-caption p {
    margin: 0 auto;
    color: #e2e2e2;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    text-transform: capitalize;
}
.owl-item.active .caption-title {
    -webkit-animation: 1s .2s fadeInUp both;
    animation: 1s .2s fadeInUp both;
}
.owl-item.active .caption-desc {
    -webkit-animation: 1s .6s fadeInUp both;
    animation: 1s .6s fadeInUp both;
}
.owl-item.active .timer {
    margin-top: 20px;
    -webkit-animation: 1s .9s flipInX both;
    animation: 1s .9s flipInX both;
}
.owl-item.active .slide-btn {
    margin-top: 40px;
    -webkit-animation: 1s .9s flipInX both;
    animation: 1s .9s flipInX both;
}
.index_2 .owl-item.active .slide-btn {
    margin-top: 63px;
    -webkit-animation: 1s .9s flipInX both;
    animation: 1s .9s flipInX both;
}
.slide-btn a:first-child{
    background: #00FFD0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.slide-btn a:first-child:hover{
    background: #ff2d5300;
    border: 1px solid rgba(255, 255, 255, 0.10);
    color: #fff;
}
.slide-btn a {
    border: 1px solid rgba(255, 255, 255, 0.10);
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    margin: 30px 0 0;
    width: 180px;
    height: 50px;
    font-size: 18px;
    line-height: 47px;
    border-radius:50px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.slide-btn a:hover {
    background-color: #00FFD0;
    border-color: #00FFD0;
}
.silder .owl-nav div,
.portfolio-slide .owl-nav div {
    background-color: #120f0d;
    font-size: 16px;
    height: 60px;
    left: 150px;
    line-height: 62px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    text-align:center;
}
.silder .owl-nav div:hover,
.portfolio-slide .owl-nav div:hover,
.related-port .owl-nav div:hover {
    background-color: #00FFD0;
}
.silder .owl-nav .owl-next,
.portfolio-slide .owl-nav .owl-next {
    right:150px;
    left: auto
}
.silder .owl-dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px
}
.silder .owl-dot {
    border: 2px solid #00FFD0;
    height: 8px;
    width: 24px;
    margin: 0 4px;
    display: inline-block
}
.silder .owl-dot.active {
    background-color: #00FFD0;
}

.silder .owl-nav {
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.slider-area:hover  .silder .owl-nav {
    opacity: 1;
}
/* =====================================
7. About Us area start
======================================== */
.about-area{
    padding: 94px 0px 99px;
    background: #000;
}
.about-text .first-text{
    margin-bottom: 40px;
    color: #ccc;
}
.aboutusvideo .img{
    text-align: center;
    position: relative;
}
.aboutusvideo .img .img-inner{
    text-align: center;
    position: relative;
    display: inline-block;
}
.aboutusvideo .img .img-inner .about-img{
    position: absolute;
    top: 27px;
    left: 42px;
    height: auto;
}
.aboutusvideo .img .img-inner .about-img img{
    border-radius: 50%;
}
.aboutusvideo .img img{
    text-align: center;
    width: 100%;
}
.index_2 .aboutusvideo .img a{
position: absolute;
top: 50%;
left: 50%;
z-index: 99;
width: 60px;
height: 60px;
background: #0d80f6;
line-height: 60px;
border-radius: 50%;
color: #fff;
font-size: 20px;
transform: translate(-50%, -50%);
margin-left: 20px;
}

.home1 .aboutusvideo .img a{
    position: absolute;
    left: 50%;
    z-index: 99;
    width: 60px;
    height: 60px;
    background: #0d80f6;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    transform: translate(-50%, -50%);
    bottom: 20px;
    top: 50%;
}

.about-area .mr_btn_fill,
.about-area .mr_btn_o{
    margin-top: 45px;
    padding: 10px 44px;
    margin-right: 5px;
}
.about-area .mr_btn_fill{
    margin-right: 27px;
}
.about_us .latest-news-area {
    padding: 94px 0px 70px;
}

.about-area .mr_btn_fill:hover {
    background: #f75f7b00;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.20);
}

/* ==============================================
8. Start venues Area
=================================================*/
.venues_area {
    background: url(../images/venuse/vbg.jpg) no-repeat center;
    background-size: cover;
    padding: 94px 0 99px;
    position: relative;
}
.venues_area .bordershep {
    margin: 22px auto 25px;
}



.venues_area .heading-title h2,
.venues_area .heading-title p,
.venues_area .heading-title .heading-title p
{
    color: #fff;
}
.overlay{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
}
.single-venues-item .content {
    padding: 22px 30px 22px 30px;
    border: 1px solid hsla(0, 0%, 100%, 0.25);
    border-top: none;
}
.single-venues-item .content .title {
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
}
.single-venues-item .content p {
    color: #fff;
}
.single-venues-item .thumb{
    position: relative;
}
.single-venues-item .thumb .box{
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50px;
    color: #fff;
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 400;

}
.venues-item .single-venues-item .thumb .box.b1{
    background: #0d80f6;
}
.venues-item .single-venues-item .thumb .box.b2{
    background: #00FFD0;
}
.venues-item .single-venues-item .thumb .box.b3{
    background: #5abd24;
}
.venues-item .single-venues-item .thumb .box.b4{
    background: #0d80f6;
}

.venues_slider .owl-nav div{
    background-color: #120f0d;
    font-size: 16px;
    height: 60px;
    left: 20px;
    line-height: 62px;
    position: absolute;
    top: 21%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    text-align:center;
}
.venues_slider .owl-nav div:hover{
    background-color: #00FFD0;
}
.venues_slider .owl-nav .owl-next {
    right: -220px;
    left: auto
}
.venues_slider .owl-nav .owl-prev {
    left: -220px;
    right: auto
}
.venues-item .content,
.venues-item .content h3,
.venues-item .content p
{
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.venues-item:hover .content h3{
    color: #ff2d55;
}
.venues-item:hover .content p{
    color: #242424;
}

.venues-item:hover .content{
    background: #fff;
}
.venues_slider .owl-dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px
}
.venues_slider .owl-dot {
    border: 2px solid #00FFD0;
    height: 8px;
    width: 24px;
    margin: 0 4px;
    display: inline-block
}
.venues_slider .owl-dot.active {
    background-color: #00FFD0;
}

/*==============================================
9. Schedule_area
================================================ */
.schedule_area{
    padding: 96px 0px 100px;
}
.schedule_area .mr_btn_fill {
    padding: 10px 44px;
    margin-top: 47px;
}
.schedule_area p{
    margin-bottom: 0px;
}
.my_schedule_card{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.my_schedule_card .mr_card_header{
    padding: 32px 20px 32px;
    text-align: center;
    color: #fff;
}

.my_schedule_card .mr_card_header.header1{
    background: #0d80f6;
}
.my_schedule_card .mr_card_header.header2{
    background: #00FFD0;
}
.my_schedule_card .mr_card_header.header3{
    background: #5abd24;
}
.my_schedule_card .mr_card_header h3{
    font-weight: 500;
}
.people_media span{
    color: #00FFD0;
}
.people_media .time{
    font-weight: 600;
}
.people_media{
padding: 15px 20px;
}
.hr{
width: 100%;
height: 1px;
background: #c8c8c8;
}
.mr_btn_fill{
color: #fff;
background: #00FFD0;
border: 1px solid #00FFD0;
padding: 10px 25px;
display: inline-block;
border-radius: 50px;
margin-top: 50px;
}
.mr_btn_fill:hover{
    background: #f75f7b00;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.20);
}
.mr_btn_o{
color: #242424;
background: #ff2d5300;
border: 1px solid rgba(36, 36, 36, 0.20);
padding: 10px 25px;
display: inline-block;
border-radius: 50px;
margin-top: 50px;
}
.mr_btn_o:hover{
color: #fff;
background: #00FFD0;
border: 1px solid #00FFD0;
}
.schedule_area .mr_btn_fill:hover{
        background: #f75f7b00;
        color: #242424;
        border: 1px solid rgba(36, 36, 36, 0.20);
}

/*======================================================
10. Photo Gallery
========================================================*/
.gallery_area{
    padding: 95px 0px 84px;
    background: #f4f4f4;
}
.gallery_area .bordershep {
    margin: 21px auto 25px;
}


.gallery_area .item{
    padding:  15px;
}
.mar-padding-15{
    padding: 0px 15px 0px;
}
.gallery_area .img img{
    width: 100%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.gallery_area .img{
    position: relative;
    overflow: hidden;
}

.gallery_area .img:hover img{
    transform: scale(1.1);
}
.gallery_area .heading-title {
    padding: 0 0 32px;
}

/* ==================================================
11. pricing area
=====================================================*/
.pricing_area{
    padding: 95px 0px 100px;
}

.pricing_area .bordershep {
    background: url(../images/border.png) no-repeat center;
    width: 118px;
    height: 2px;
    text-align: center;
    margin: 21px auto 23px;
}

.pricing_area .p-box{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.p-box .header{
    padding: 33px 0px 33px;
}
.p-box .header h3{
    font-weight: 600;
}
.p-box .header p,
.p-box .price p
{
font-style: italic;
}
.p-box .price{
    padding: 14px 2px;
    background: #f8f8f8;
    margin-bottom: 33px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.p-box .price h2{
    font-size: 36px;
    font-weight: 900;
}
.p-box .list li p{
    line-height: 30px;
}
.p-box .list i{
    font-weight: 700;
}
.p-box .button a{
    display: inline-block;
    background: #ff2d5300;
    padding: 10px 44px;
    border-radius: 50px;
    border: 1px solid rgba(36, 36, 36, 0.20);
    color: #242424;
    margin-top: 33px;
    margin-bottom: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.p-box:hover .button a{
    background: #00FFD0;
    color: #fff;
    border-color: #00FFD0
}
.p-box:hover .price{
    background: #00FFD0;
    color: #fff;
}
/* =======================================================
12. Purchase  css
=========================================================*/
.purches{
    background: url(../images/purches.jpg) no-repeat center;
    background-size: cover;
    padding: 94px 0px 100px;
    background-attachment: fixed;
    position: relative;
}
.purches .overlay {
    background: rgba(0, 0, 0, 0.8);
}

.purches {
    color: #fff;
    text-align: center;
}
.purches h2{
    font-style: italic;
}
.purches .mr_btn_fill {
    margin-top: 32px;
    border-color: #00FFD0;
    padding: 10px 44px;
}
.purches .mr_btn_fill:hover{
border: 1px solid rgba(255, 255, 255, 0.20);
color: #fff;
}

/*=================================================
13. Speakers Area
===================================================*/
.speaker_area{
    padding: 94px 0px 65px;
}

.speaker_area .bordershep {
    margin: 21px auto 25px;
}

.speaker_area .overlay{
   text-align: center;
   opacity: 0;
   background: rgba(0, 0, 0, 0.8);
   -webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
   -o-transition:all 0.3s ease-in-out;
   transition:all 0.3s ease-in-out;
}
.speaker_area .sk-img .img{
    position: relative;
    overflow: hidden;
}
.speaker_area .sk-img .img img{
    width: 100%;
}
.speaker_area .overlay .slink{
    position: absolute;
    bottom: -50px;
    z-index: 9;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.speaker_area .overlay .slink i{
    color: #fff;
    height: 45px;
    width: 45px;
    line-height: 44px;
    text-align: center;
    margin: 0px 3px;
    font-size: 20px;
}
.speaker_area .overlay .slink i.fa-facebook{
    background: #496daf;
}
.speaker_area .overlay .slink i.fa-twitter{
    background: #64acf1;
}
.speaker_area .overlay .slink i.fa-linkedin{
    background: #0077b5;
}
.speaker_area .overlay .slink i.fa-google-plus{
background: #d32a1e;
}
.speaker_area .sk-content{
    margin-top: 15px;
}
.speaker_area .speaker:hover .overlay{
    opacity: 1;
}
.speaker_area .speaker:hover  .slink{
    bottom: 20px;
}
.speaker_area .speaker {
    margin-bottom: 30px;
    text-align: center;
}

/*=================================================
14. Testimonial
===================================================*/

.testimonial-area {
    background: url('/MATO/d2.png') no-repeat center;
    background-size: cover;
    padding: 94px 0 94px;
    background-attachment: fixed;
    position: relative;
}

.testi-item .description{
    border-radius: 6px;
    margin-bottom: 30px;
    position: relative;
}
.testi-item .description i{
    font-size: 40px;
    margin-bottom: 20px;
}
.testi-item .author{
    position: relative;
    min-height: 80px;
}
.testi-item .author .thumb{
    position: absolute;
    left: 0;
    top: 0;
}
.testi-item .author .thumb img{
    max-width: 80px;
    border-radius: 50%;
}
.testi-item .author .content{
    padding-left: 70px;

}
.testi-item .author .content .title{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
}
.testi-item .author .content .post{
    font-size: 15px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.75);
}
.testimonial-area h2,
.testimonial-area p,
.testimonial-area h4,
.testimonial-area span
{
color: #fff;

}
.testimonial-area .owl-carousel .owl-dots{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.testimonial-area .owl-carousel .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #848484;
    display: inline-block;
    margin: 0px 5px;

}
.testimonial-area .owl-carousel .owl-dot.active{
    background: #fff;
}

/* =================================================
15. Upcoming Event
==================================================*/
.upcomingevent_area{
    padding: 94px 0px 100px;
}
.upcomingevent_area .bordershep {
    margin: 21px auto 25px;
}

.upevent{
    position: relative;
}
.upevent .content{
    position: absolute;
    top: 30%;
    width: 100%;
    color: #fff;
    transform: translateY(-50%);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.upevent .content a{
    color: #00FFD0;
    margin-top: 10px;
}
.upevent .overlay{
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.upevent .overlay:hover{
    opacity: 1;
}
.upevent:hover .content{
    top: 50%;
}
.upcomingevent_area .mr-btn-fill-2{
    margin-top: 50px;
}
/*===============================================
16. Latest News
===============================================*/
.sponsor_area{
    padding: 94px 0px 100px;
    background: #000;
}
.sponsor_area .bordershep {
    margin: 22px auto 25px;
}

.sponsor_area .title-gold,
.sponsor_area .title-silver,
.sponsor_area .title-ultimate
{
font-size: 24px;
line-height: 40px;
letter-spacing: 5px;
font-weight: 600;
margin-bottom: 30px;
}
.sponsor_area .title-silver{
    margin-top: 30px;
}
.sponsor_area .mr-btn-fill-2{
    margin-top: 50px;
    display: inline-block;
}
.sponsor_area .heading-title {
    padding: 0 0 36px;
}
.index_2 .latest-news-area {
    background-color: #FBFBFB;
    padding: 94px 0 308px 0;
}
.index_2 .latest-news-area .heading-title {
    padding: 0 0 46px;
}
.blog-post.latest .post-media {
    overflow: hidden;
}
.blog-post.latest .post-media img {
    width: 100%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.blog-post.latest:hover .post-media img{
    transform: scale(1.1);
}
.blog-post.latest{
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}
.blog-post.latest:hover{
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.07);
}
.blog-post.latest .content{
    background-color: #000;
    padding: 25px 20px 28px 20px;
}

.blog-post.latest .content .post-meta .post-title a{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 11px;
    color: #ccc;
}
.blog-post.latest .content .post-meta{
    margin-bottom: 11px;
}
.blog-post.latest .content .post-content .readmore {
    font-size: 16px;
    font-weight: 500;
    margin-top: 11px;
    color: #fff;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    display: inline-block;
}
 .post-content  .po-c-first-p{
    margin-bottom: 20px;
}
.latest-news-area  .blog-post:hover .content a,
.latest-news-area  .blog-post:hover .content .readmore
{
    color: #00FFD0;
}
.blog-post.latest .content .post-meta span {
    /* color: rgba(36, 36, 36, 0.75); */
    color: #00FFD0;
    font-size: 15px;
    cursor: pointer;
}
.blog-post.latest .content .post-meta span:hover{
    color: #00FFD0;
}
.blog-post.latest:hover .content .post-meta .post-title a{
    color: #00FFD0;
}
section.latest-news-area.main_blog.m-blog-padding {
    padding: 99px 0px 99px;
}
.index_1.blog_details .latest-news-area {
    padding: 100px 0px 70px;
}
.index_1.blog_details.blog-grid .latest-news-area {
    padding: 100px 0px 100px;
}
/*====================================================
17. Partner
====================================================*/
.partner-area {
    padding: 100px 0;
}
.partner-area .single-parter-item {
    border: 1px solid rgba(0, 0, 0, 0.07);
    display: block;
    padding: 5px 20px;
}
.partner-area .single-parter-item img{
    filter: grayscale(100%);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.partner-area .single-parter-item:hover img{
    filter: grayscale(0%);
}
/* ====================================================
18. Contact Form
=================================================== */

.subcribe_box{
    background: url(../images/newsletter.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 60px;
}
.subcribe_box .overlay{
    z-index: 0;
    background: rgba(0, 0, 0, 0.8);
}
.subcribe_box  .content{
    position: relative;
    z-index: 9;
    color: #fff;
    text-align: center;
    width: 100%;
}
.contact_form .form_area{
    position: relative;
}
.form-padding{
    padding: 0px 15px;
}
.contact_form .p-abs{
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    bottom: -235px;
    background: #fff;
    z-index: 99;
}
.subcribe_box .mr_form{
    border: 0px;
    background: #fff;
    border-radius: 50px 0px 0px 50px;
    padding: 15px 35px;
    width: 260px;
}
.subcribe_box .mr_form_btn{
  background: #00FFD0;
  border: 0px;
  border-radius: 0px 50px 50px 0px;
  padding: 15px 35px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: -5px;
  cursor: pointer;
}
.subcribe_box .mr_form_btn:focus{
    outline: 0px;
}
.subcribe_box  p{
    margin: 10px 0px 20px;
}
.massage_form{
    padding: 40px 0px 40px;
}
.massage_form .my_form1{
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #dedede;
}

.massage_form textarea{
    height: 180px;
    width: 100%;
    padding: 10px 15px;
    resize: none;
    border: 1px solid #dedede;
}
.massage_form .submit_btn{
    padding: 10px 31px;
    background: #00FFD0;
    color: #fff;
    border-radius: .25rem;
    border: 1px solid #00FFD0;
    cursor: pointer;
}

.massage_form .submit_btn:hover{
    background: #ff2d5300;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.20);
}
.form-control.input-field.error{
    border: 1px solid #00FFD0;
}


/*==================================================
19. About Us Page
====================================================*/
.aboutEventArea{
    padding: 83px 0px 95px;
}
.aboutEventArea h4{
    font-weight: 600;
    margin: 15px 0px 10px;
}
.solution_area .img-1{
    background: url(../images/about/s1.png) no-repeat center;
    background-size: cover;
    height: 100%;
    display: block;
}
.solution_area .img-2{
    background: url(../images/about/s2.png) no-repeat center;
    background-size: cover;
    height: 100%;
    display: block;
}
.solution_area .bordershep{
    text-align: left;
    margin: 20px 0px 25px;
    background: url(../images/border_white.png) no-repeat center;
}
.solution_area .s-box2 .bordershep {
    margin: 20px 0px 25px;
}
.solution_area  h2{
    font-size: 36px;
    font-weight: 600;
}
.solution_area  h2,
.solution_area  p{
    color: #fff;
}
.solution_area .s-box{
    padding: 65px 30px 63px;
    max-height: 100%;
    min-height: 100%;
}
.solution_area .s-box1{
    background: #00FFD0;
}
.solution_area .s-box2{
    background: #0d80f6;
}
.solution_area .s-box  .first-text{
    margin-bottom: 15px;
}
.aboutEventArea .a-box .img img{
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.aboutEventArea .a-box:hover .img img{
transform: rotateY(360deg);
}
/*==================================================
20. Event Schedule Area Css Start
====================================================*/
.eventSchedule{
    padding: 94px 0px 100px;
}
.eventSchedule .portfolio-menu {
    margin-bottom: 47px;
}
.eventSchedule .portfolio-menu button{
    background: none;
    border: 0px;
    color: #242424;
    cursor: pointer;
}
.eventSchedule .portfolio-menu button:focus{
    outline: 0px;
}
.eventSchedule .portfolio-menu button.active{
    color: #00FFD0;
}
.eventSchedule .my_schedule_card{
    margin-bottom: 30px;
}
.eventSchedule .my_schedule_card .mr_card_header.header1 {
    background: #00FFD0;
}
.eventSchedule .my_schedule_card .mr_card_header.header2 {
    background: #6600ff;
}
.eventSchedule .my_schedule_card .mr_card_header.header3 {
    background: #5abd24;
}
.eventSchedule .my_schedule_card .mr_card_header.header4 {
    background: #0d80f6;
}
.eventSchedule .mr_btn_fill{
    margin-top: 20px;
    padding: 10px 44px;
}
.eventSchedule .mr_btn_fill:hover{
    background: #f75f7b00;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.20);
}

/* ======================================
21. event page
==========================================*/
.eventSingle{
    padding: 100px 0px 100px;
    background: url('http://images.neo-search.com/storage/MATOVA IGRAONICA/1565446260_wXllp3683MilrZAO.jpg') no-repeat center;
    background-size: cover;
    padding: 94px 0 94px;
    background-attachment: fixed;
    position: relative;
}
#calendar{
    max-width: 100%;
    margin: auto;
}
.eventSingle .main_content h3{
    font-weight: 600;
    margin: 43px 0px 21px;
}
.eventSingle .main_content .e-f{
    margin-top: 30px;
}

.eventSingle .main_content .left{
    background: #00FFD0;
}

.eventSingle .main_content .c-box{
    padding: 50px 30px;
}

.eventSingle .main_content .right{
    background: #0141f5;
}

.eventSingle .main_content .c-box li {
    color: #fff;
    margin-bottom: 4px;
}
.eventSingle .main_content .c-box li p{
    padding-left: 25px;
    position: relative;
}
.eventSingle .main_content .c-box  li i{
   position: absolute;
   left: 0;
   top: 4px;
}

.speaker ul li{
   display: inline-block;
}
.speaker ul li i{
    font-size: 12px;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.speaker ul li .fa-twitter {
    background: #00abea;
}
.speaker ul li .fa-facebook {
    background: #1679c6;
}
.speaker ul li .fa-google-plus {
    background: #dc4a38;
}
.speaker ul li .fa-linkedin {
    background: #007bb6;
}




.speaker ul li i:hover{
    background: #00FFD0;
}
.speaker h4{
    margin-bottom: 5px;
    font-weight: 600;
}
.speaker ul{
    margin-top: 10px;
}
.speaker .media p{
    font-size: 12px;
    font-style: italic;
}
.speaker h3 {
    margin: 45px 0px 28px;
}
.speaker h2 {
    margin: 0px 0px 16px;
    font-size: 36px;
    font-weight: 700;
    color: #00FFD0;
}
.speaker h4 {
    margin: 0px 0px 10px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    color: #fff;
}
.speaker a:hover h4{
    color: #00FFD0;
}

.eventSingle .aside h3{
    font-weight: 600;
    margin-bottom: 15px;
}
.eventSingle .aside .calenderBox .ui-datepicker{
    width: 100%;
    padding: 25px 30px 13px 30px;
}
.eventSingle .aside .calenderBox .ui-widget-content .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background-color: #00FFD0;
    color: #fff;
}
.eventSingle .aside .calenderBox .ui-widget-content{
    border: 1px solid #e2e2e2;
}
.eventSingle .aside .calenderBox .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background-color: transparent;
    border: none;
}
.eventSingle .aside .calenderBox{
   margin-top: 48px;
}
.eventSingle .aside .calenderBox .ui-datepicker-calendar{
    display: block;
    width: 100%;
}
.eventSingle .aside .calenderBox .ui-datepicker-calendar thead tr th,
.eventSingle .aside .calenderBox .ui-datepicker-calendar tbody tr td{
    padding: 5px  6px;
}
.eventSingle .aside .calenderBox .ui-datepicker-calendar thead tr th {padding: 0px 0px 17px 0;}
.eventSingle .aside .calenderBox .ui-datepicker-header{
    display: none;
}
.eventSingle .aside .contact-box{
   margin-top: 48px;
   background: #f4f4f4;
   padding: 25px 30px 18px 30px;
}
.eventSingle .aside .contact-box h3 {
    margin-bottom: 20px;
}
.eventSingle .aside .contact-box .media{
    margin-bottom: 10px;
}
.eventSingle .aside .contact-box .media span{
    font-weight: 600;
}
.eventSingle .aside .contact-box i{
    color: #fff;
    background: #00FFD0;
    font-size: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;

}
/* =============================================
22. Speaker Profile area Start
================================================ */

.speaker_profile .speaker ul li i{
    font-size: 15px;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-right: 4px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.speaker_profile .speaker ul li  .fa-twitter {
    background: #00abea;
}
.speaker_profile .speaker ul li .fa-facebook {
    background: #1679c6;
}
.speaker_profile .speaker ul li .fa-google-plus {
    background: #dc4a38;
}
.speaker_profile .speaker ul li .fa-linkedin {
    background: #007bb6;
}

.speaker_profile .speaker ul li i:hover{
    background: #00FFD0;
}
.speaker_profile .speaker ul{
    margin-top: 21px;
}
.speaker_profile .speaker .media p{
    font-size: 15px;
    color: #ccc;
}
.speaker_profile .speaker .media{
    padding-bottom: 30px;
}
.speaker_profile .speakerdetail{
    margin-top: 30px;
}
.speaker_profile .speakerdetail .box{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
}
.speaker_profile .speakerdetail .box h3{
    color: #00FFD0;
    font-weight: 700;
    margin-bottom: 10px;
}
.speaker_profile .speakerdetail .box h4{
    margin-bottom: 5px;
}
.speaker_profile .speakerdetail .box h3,
.speaker_profile .speakerdetail .box p{
    font-size: 18px;
}
.gallery_area.portfoliocolum {
    padding: 85px;
}
.portfoliocolum .item .img h3{
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.portfoliocolum .item .img a:hover h3{
    color: #00FFD0;
}
.portfoliocolum .item .img p{
    font-size: 20px;
}
.portfoliocolum .item .img a{
    overflow: hidden;
    display: block;
}
/*==================================================
23. Become Sponsor Area Css Start
====================================================*/

.becomesponsor .form_title{
    font-weight: 700;
    margin-bottom: 29px;
    margin-top: 45px;
    color: #00FFD0;
    text-align: center;
}
.becomesponsor #myForm .my-form{
    width: 100%;
    padding: 12px 15px;
    background: none;
    border: 1px solid #00FFD0;
    border-radius: 5px;
}

.becomesponsor label{
    color: #fff;
}

.becomesponsor #myForm .my-form:valid{
    color: #ccc;
}

.becomesponsor #myForm select::placeholder{
    color: #ccc;
}

.becomesponsor #myForm select{
    width: 100%;
    height: 3.1rem;
    padding: 12px 15px;
    background: none;
    border: 1px solid #00FFD0;
    border-radius: 5px;
}

.becomesponsor #myForm textarea{
    width: 100%;
    padding: 12px 15px;
    background: none;
    border: 1px solid #c8c8c8;
    resize: none;
    height: 200px;
}
.becomesponsor .mr_btn_fill{
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 40px;
}
.becomesponsor #myForm .my-form:focus{
    outline: 0px;
}
.becomesponsor #myForm textarea:focus{
    outline: 0px;
}
.becomesponsor .mr_btn_fill {
    color: #fff;
    background: #00FFD0;
    border: 1px solid #00FFD0;
    padding: 10px 44px;
    margin-top: 11px;
    transition: .5s;
    cursor: pointer;
}
.becomesponsor .mr_btn_fill:hover {
    color: #fff;
    background: #ff2d5300;
    border: 2px solid #00FFD0;
    padding: 10px 44px;
    transition: .5s;
}
.becomesponsor #myForm .mf-mr-bottom{
    margin-bottom: 30px;
}



/*==================================================
24. Breadcrumbs Area Css Start
====================================================*/
.breadcrumbs{
    background: url(../images/breadcrumb-bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    padding: 200px 0px 112px;
}
.breadcrumbs.blog {
    padding: 200px 0px 118px;
}
.breadcrumbs.extra{
    padding: 200px 0px 120px;
}
.breadcrumbs ul li{
    display: inline-block;
}
.breadcrumbs ul li a,
.breadcrumbs ul li i,
.breadcrumbs h2
{
    color: #fff;
}
.breadcrumbs ul li i{
    padding: 0px 7px;
}
.breadcrumbs h2{
    font-weight: 600;
    margin-bottom: 10px;
}
.breadcrumbs ul li a:hover{
    color: #00FFD0;
}
.breadcrumbs ul li a.active{
    color: #00FFD0;
}



/*==================================================
  25.  Pricing Page
====================================================*/

.pricing-wrap {
    padding: 115px 0 120px 0;
    overflow: hidden;
}
.price-plan-two-container {
    background-color: #FBFBFB;
    padding: 115px 0 120px 0;
}
.pricing-wrap .heading-title {
    margin: 0px 0 0px;
}
.contact-form .heading-title ,
.pricing-three-column .heading-title ,
.pricing-four-column .heading-title {
    padding-bottom: 26px;
}
.pricing-table {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 35px 0 40px;
    border-radius: 6px
}

.pricing-table-two {
    border: 1px solid rgba(0, 0, 0, 0.07);
    text-align: center;
}
.pricing-table-two .pr-title .title{
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
}
.pricing-table-two{
    padding-bottom: 40px;
}
.pricing-table-two .pr-content{
    padding-top: 10px;
}
.pricing-table-two .pr-price .title{
    margin-bottom: 0;
}
.pricing-table-two .pr-price .month{
    color: #777;
    font-size: 14px;
}
.pricing-table-two .pr-title {
    display: block;
    width: 100%;
    background-color: #00FFD0;
    padding: 15px 0;
    margin-bottom: 30px;
}
.pr-title h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.pr-price h2 {
    color: #00FFD0;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: "Open Sans";
}
.pr-price h2 span {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 0;
    font-family: "Open Sans";

}
.pr-price sup {
    font-size: 30px;
    font-weight: 800;
    margin-left: -10px;
    padding: 0;
}
.pr-price h2 sub {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}
.pr-content {
    padding: 15px 0 0;
}
.pr-content li {
    display: block;
    margin: 8px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #777;

}
.pr-btn{
    margin-top: 35px;
}
.pr-btn a {
    background-color: #2c3e50;
    border-radius: 30px;
    color: #ffffff;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    width: 180px;
    height: 50px;
    line-height: 50px;
}
.pr-btn > a:hover {
    background-color: #00FFD0;
}
.index_1.pricing  .latest-news-area {
    padding: 94px 0px 70px;
}
/*==================================================
 26. Blog Page
====================================================*/

.latest-news-area.main_blog {
    padding: 98px 0px 80px;
}
.main_blog .blog-post{
    margin-bottom: 30px;
}
.post-media{
    position: relative;
}
.blog-post.single a{
color: #9c9c9c;
}
.blog-post.single a i{
    margin-right: 5px;
}
.blog-post.single h2 a{
    color: #222;
}
.post-media .p-box{
    position: absolute;
    padding: 8px 25px;
    border-radius: 50px;
    color: #fff;
    bottom: 20px;
    left: 20px;
    font-weight: 400;
    font-size: 15px;
}
.pagination .page-item .page-link{
    font-size: 15px;
    color: #242424;
    margin: 0px 2px;
    display: inline-block;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0px;
    text-align: center;
    padding: 0px;
  }
 .pagination .page-item .page-link:hover,
 .pagination .page-item .page-link.active
 {
    background: #00FFD0;
    color: #fff;
    border-color: #00FFD0;
  }
  ul.pagination {
    margin-top: 21px;
}
.pagination .page-item .page-link:focus{
    outline: 0px;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
  }

/* =================================================
27.Blog Single
===================================================*/
.comment-text span a {
    color: #00FFD0;
    font-weight: 600;
    font-size: 14px
}
.blog-post.single {
    padding: 0 0 5px;
}
.blog-social li {
    display: inline-block;
}
.blog-social li a {
    display: block;
    font-size: 24px;
    margin: 0 2px;
}
.blog-social li .fa.fa-twitter-square {
    color: #00abea;
}
.blog-social li .fa.fa-facebook-square {
    color: #1679c6;
}
.blog-social li .fa.fa-google-plus-square {
    color: #dc4a38;
}
.blog-social li .fa.fa-linkedin-square {
    color: #007bb6;
}
.blog-comments{
    padding: 12px 0 0 0;
}
.blog-comments .title {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}
.comment-text h3,
.comment-text p {
    margin: 0;
}
.comment-text {
    padding: 10px 0 30px;
}
.comment-text > h3 {
    font-size: 16px;
    font-weight: 500;
}
.comment-form h2 {
    padding: 10px 0 20px;
}
.comment-form input {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    height: 50px;
    padding: 5px 15px;
    font-size: 16px;
}
.comment-form label {
    font-weight: 500;
}
.comment-form textarea {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
}
.comment-btn button {
    background: #00FFD0;
    border: 1px solid #00FFD0;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 500;
    padding: 8px 20px;
}
.comment-btn button:hover {
    background-color: #ff2d5300;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.20);
}
.widget.search h3 {
    margin: 0 0 10px;
}
.blog-sidebar .widget {
    margin-bottom: 30px;
}
.widget .widget-title {
    font-weight: 600;
    font-size: 24px;
}
.widget.search {
    position: relative;
    padding: 0;
}
.widget.search span {
    position: absolute;
    right: 10px;
    top: 40px;
}
.widget.search input {
    border-radius: 0;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}
.widget.recent-post {
    padding: 25px 25px 30px 25px;
}

.recent-post-item {
    padding: 5px 0;
}
.recent-post-item h4 {
    margin: 0
}
.recent-post-item h4 a {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: #00FFD0;
    display: inline-block
}
.recent-post-item h4 a:hover {
    color: #00FFD0;
}
.recent-post-item p {
    line-height: 20px;
    margin: 5px 0;
}
.recent-post-item p > span {
    font-size: 12px
}
.widget.tag-cloud h4 a {
    background-color: #00FFD0;
    color: #ffffff;
    display: inline-block;
    font-weight: 500;
    margin: 2px;
    padding: 8px 10px;
}
.widget.categories li,
.widget.archive li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1
}
.widget.categories ul li:first-child,
.widget.archive ul li:first-child {
    border-top: 1px solid #f1f1f1;
    margin-top: 20px
}
.service-sidebar .widget.categories ul li:first-child {
    border-top: 0;
}
.service-sidebar .widget.categories ul li:first-child {
    margin: -6px 0 0
}
.widget.categories li a,
.widget.archive li a
{
    font-weight: 400;
    color: #242424;
    font-size: 18px;
}
.widget.categories li a i{
    font-size: 18px;
    margin-right: 5px;
}
.widget.categories li a:hover,
.widget.archive li a:hover {
    color: #ff2d55
}
.widget{
    padding: 27px 25px 28px 25px;
}
.widget.qcontact ul li{
    margin-bottom: 10px;
}
.widget.qcontact ul li:last-child{
    margin-bottom: 0px;
}
.widget.qcontact input{
width: 100%;
padding: 10px 15px;
background: #f8f8f8;
border: 0px;
}
.widget.qcontact input:focus,
.widget.qcontact textarea:focus{
    outline: 0px;
}
.widget.qcontact textarea{
width: 100%;
padding: 10px 15px;
background: #f8f8f8;
border: 0px;
height: 140px;
resize: none;
}
.widget.qcontact button{
    background: #00FFD0;
    padding: 10px 44px;
    border: 1px solid #00FFD0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: .25rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.widget.qcontact button:hover{
    background: #ff2d5300;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.20);
}
.widget .widget-title{
    margin-top: 0;
}
.widget.categories .widget-title {
    margin-bottom: 25px;
}
.blog-sidebar .archive.widget {
    padding-bottom: 23px;
}
.widget.archive .widget-title {
    margin-bottom: 0;
}
.widget.categories ul li:first-child,
.widget.archive ul li:first-child {
    padding-top: 0;
    border-top: none;
}
.widget.categories ul li:last-child,
.widget.archive ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.tagss a {
    display: inline-block;
    margin: 2px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    font-size: 16px;
    color: #242424;
}

.tagss a:hover {
   color: #00FFD0;
}
.widget.tag-cloud{
    padding-bottom: 24px;
}
.widget.tag-cloud .widget-title{
    margin-bottom: 25px;
}
.recent-post-item {
    position: relative;
    min-height: 80px;
    padding: 0;
    margin-bottom: 20px;
}

.recent-post-item .thumb {
    position: absolute;
    left: 0;
    top: 0;
}

.recent-post-item .content {
    padding-left: 115px;
}

.recent-post-item .content .title {
    margin-top: 0;
}

.recent-post-item .content .title a {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #242424;
}
.recent-post-item .content .title a:hover{
    text-decoration: underline;
}
.recent-post-item .content .time i{
    margin-right: 5px;
}
.recent-post-item .content .time{
    color: #00FFD0;
    font-size: 12px;
}
.widget .widget-title {
    margin-bottom: 30px;
    font-weight: 600;
}

.post-meta small {
    padding: 0px 5px;
    color: #ccc;
}
.bd-f-img{
margin-bottom: 25px;
}
.widget.recent-post {
    padding-bottom: 10px;
}
.blog-post.single .post-meta .post-title a{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    display: block;
    margin-top: 0px;
}

.blog-post.single  a:hover{
    color: #00FFD0;
}
.blog-post.single .post-content {
    padding-top: 10px;
}

.post-content p{
    color: #ccc;
}

.blockquote-wrapper {
    border: none;
    padding: 30px 40px;
    border: 1px solid #dedede;
    margin: 30px 0px 30px;
}
.blockquote-wrapper i{
    font-size: 30px;
    color: #00FFD0;
}
.blockquote-wrapper p {
    margin-bottom: 10px;
}

.blockquote-wrapper .author {
    font-size: 18px;
    font-weight: 600;
}
.blog-social {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 24px 0 24px 0;
    margin-top: 15px;
}

.blog-social .title {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.blog-social ul {
    display: inline-block;
}

.blog-social ul li a {
    font-size: 16px;
    line-height: 26px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.blog-social ul li a:hover{
    color: #00FFD0;
}

.blog-social ul li {
    margin: 0 4px;
}
.blog-social .left-content{
    display: inline-block;
}
.blog-social .right-content{
    display: inline-block;
    float: right;
    margin-top: 3px;
}
.blog-social .left-content ul li a:hover{
    background-color: #00FFD0;
    color: #fff;
}
.blog-social .left-content ul li a{
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 4px 15px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;

}
.blog_details .comment-form {
    margin-top: 38px;
}
.single-comments-item {
    position: relative;
}
.single-comments-item .thumb img{
    border-radius: 50%;
}
.single-comments-item .thumb {
    position: absolute;
    left: 0;
    top: 0;
}

.single-comments-item .content {
    padding-left: 85px;
}

.single-comments-item .content .title {
    font-size: 21px;
    margin-top: 0;
    line-height: 31px;
    margin-bottom: 0;
}

.single-comments-item .content .time {
    font-size: 14px;
    color: #777;
}

.single-comments-item .content .description {
    padding: 15px 0 0 0;
}
.comments-separator{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 0 0 0;
    margin-bottom: 30px;
}
.single-comments-item.reply{
    margin-left: 100px;
}
.comment-form .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    margin-top: 0;
    padding-top: 0;
}

.blog-comments .title {
    margin-bottom: 30px;
    margin-top: 36px;
}
.comment-form .form-element{
    margin-bottom: 30px;
}
.form-element textarea{
    font-size: 16px;
    padding: 15px 15px;
    height: 200px;
    resize: none;
    border-radius: 3px;
}
#contact_form_submit .form-element textarea{
    padding: 15px 15px;
}
.comment-submit-btn{
    width: 160px;
    height: 45px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border-radius: .25rem;
    text-transform: capitalize;
}
.comment-btn button{
    padding: 0;
}
.blog-sidebar .widget.search {
    border: none ;
}
.widget.search .form-element {
    position: relative;
}
.widget.search .form-element .input-field:focus{
    outline: none;
}
.widget.search .form-element .input-field{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.07);
    height: 50px;
    padding: 5px 20px;
    font-size: 16px;
}

.widget.search .form-element .submit-btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 55px;
    border: none;
    background-color: #ff2d5500;
    color: #888888;
    font-size: 20px;
    cursor: pointer;
}
.blog-sidebar .widget {
    border: 1px solid rgba(0, 0, 0, 0.07);
}
/*=================================================
28. 404 Page
====================================================*/
.fourzerofour{
    padding: 100px 0px 100px;
}
.fourzerofour h1{
    font-size: 80px;
    font-style: italic;
    margin-top: 49px;
}
.fourzerofour h2{
    font-size: 36px;
}
.fourzerofour p{
    margin-top: 15px;
}
.fourzerofour  .mr_btn_fill {
    padding: 10px 35px;
    margin-top: 36px;
}
.fourzerofour  .mr_btn_fill:hover{
    background: #f75f7b00;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.20);
}
/*==================================================
29. Faq Page
====================================================*/
.faq-wrap {
    padding: 120px 0 100px 0;
}

.faq-accordian .panel-group .panel.panel-default{
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
}
.faq-accordian .panel-group .panel .panel-heading{
    border: none;
    padding: 0;
}
.faq-accordian .panel-group .panel .panel-heading .panel-title a {
    background-color: #fbfbfb;
    padding: 20px 30px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-left: 55px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
     cursor: pointer;
}
.faq-accordian .panel-group .panel .panel-heading .panel-title a:after{
    position: absolute;
    left: 30px;
    top: 30px;
    font-family:'fontawesome';
    content: "\f107";
    transform: translateY(-50%);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.faq-accordian .panel-group .panel .panel-heading .panel-title a[aria-expanded="true"]:after{
    content: "\f105";
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
     cursor: pointer;
}
.faq-accordian .panel-group .panel .panel-heading .panel-title a[aria-expanded="true"]{
    border-bottom: 0;
    color: #00FFD0;
    /* padding-bottom: 0; */
    cursor: pointer;
}
.faq-accordian .panel-group .panel .panel-body{
    /* border: 2px solid rgba(0, 0, 0, 0.07); */
    background-color: #fbfbfb;
    border-top: 0;
    padding: 0px 15px 18px 30px;
    font-size: 16px;
    color: #777;
    line-height: 26px;
}
/*==================================================
30. Contact Pages
====================================================*/
.contact-wrap{
    padding: 92px 0px 100px;
}
.address h3{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}
.address .a-text{
    margin-bottom: 35px;
}
.address .media {
    margin-bottom: 30px;
}
.address .media i{
    font-size: 25px;
    color: #00FFD0;
    width: 25px;;
}

.contact-form .mr_btn_fill{
    margin-top: 0px;
    padding: 10px 34px;
    font-size: 18px;
    font-weight: 500;
    border-radius: .25rem;
    border: 1px solid #00FFD0;
    margin-top: 14px;
    cursor: pointer;
}
.contact-form .mr_btn_fill:hover{
    background: #ff2d5300;
    border: 1px solid rgba(36, 36, 36, 0.20);
    color: #242424;
}
.contact-wrap .contact-form .input-field{
    height: 50px;
    display: block;
}
.contact-wrap .contact-form form{
margin-top: 25px;
}
/*==================================================
31. Click BottomToTop
====================================================*/
.totop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    z-index: 9999;
    opacity: 0;
}
.totop.show {
    opacity: 1;
}
.totop > a {
    background-color: #00FFD0;
    color: #fff;
    display: block;
    font-size: 16px;
    border-radius: 50%;
    padding: 12px 16px 10px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.totop > a:hover {
    background-color: rgb(17, 143, 120);
}

/*==================================================
32. Footer
====================================================*/
.footer {
    overflow: hidden;
    background:url(../images/fooer-bg.jpg) no-repeat center;
    background-size: cover;
}
.footer-top {
    padding: 93px 0 90px;
}
/* .footer-top a img {
    padding: 4px 0 0;
} */
.footer-top h3 {
    color: #FBFBFB;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 18px;
}
.footer-top h4 a {
    color: #fafafaea;
    font-weight: 500;
    margin: 0;
}
.footer-about .title{
    font-size: 18px;

}
.f-logo{
    display:block;
    margin-bottom: 20px;
}

.footer-about p{
    color: #fff;
}
.footer-about ul li {
    display: inline-block;
}

.footer-about ul li a i{
    display: block;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    background-color: #fafafa;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    line-height: 32px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.footer-about ul li a .fa-facebook{
color: #4267b2;
}

.footer-about ul li a .fa-twitter{
color: #1da1f2;
}

.footer-about ul li a .fa-google-plus{
color: #dd5044;
}

.footer-about ul li a .fa-linkedin{
color: #0177b5;
}

.footer-about ul li a .fa-skype{
color: #01aef2;
}

.footer-about ul li a:hover i{
    color: #fff;
}

.footer-about ul li a:hover .fa-facebook{
    background: #4267b2;
}

.footer-about ul li a:hover .fa-twitter{
    background: #1da1f2;
}

.footer-about ul li a:hover .fa-google-plus{
    background: #dd5044;
}

.footer-about ul li a:hover .fa-linkedin{
    background: #0177b5;
}

.footer-about ul li a:hover .fa-skype{
    background: #01aef2;
}


.footer-about h3 {
    margin: 29px 0 6px;
    font-size: 15px;
    font-weight: 400;
}
.footer-news .news-items {
    padding: 8px 0 0;
}
.footer-contact-info li{
    margin-bottom: 10px;
}
.footer-pages li a {
    display: block;
    color: rgba(255, 255, 255, 0.753);
    font-weight: 400;
    margin-left: 0px;
    line-height: 35px;
    font-size: 15px;
}
.footer-pages li a i{
    font-size: 13px;
    margin-right: 5px;
}
.footer-pages li a:hover,
.footer-contact-info li a:hover {
    color: #00FFD0;
}
.footer-contact-info li{
    margin-block-start: 5px;
}
.footer-contact-info li a {
    display: inline-block;
    padding: 0px 68px 0px 30px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.753);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.footer-about {
    padding-top: 7px;
}
.footer-contact-info li a i {
    font-size: 16px;
    position: absolute;
    left: 0%;
    color: #00FFD0;

}

.footer-bottom {
    background-color: #111010;
    display: table;
    width: 100%;
    padding: 20px 0px 20px;
}

.copyright-text > p {
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    color: #fff;
    display: inline-block;
}
.copyright-text > a{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 4px;
}
.copyright-text > a span{
    color: #00FFD0;
}
.insta-item {
    display: inline-block;
    margin: 4px 3px;
    width: 75px;
}
.insta-item:last-child{
    margin-right: 0px;
}
.insta-item:nth-child(3){
    margin-right: 0px;
}
.insta-item:first-child{
    margin-left: 0px;
}
.insta-item:nth-child(4){
    margin-left: 0px;
}
.copyright-links ul{
    text-align: right;
}
.copyright-links ul li{
    display: inline-block;
}
.copyright-links ul li a{
    color: #fff;
    padding: 0px 7px;
    font-weight: 400;
    font-size: 15px;
}
.copyright-links ul li a:hover{
    color: #00FFD0;
}
.subscribe{
    background: #fff;
    width: 100%;
    padding: 5px 0px;
    border-radius: .25rem;
    margin-top: 20px;
}
.subscribe .email{
width: 57%;
padding: 7px 10px;
font-size: 14px;
border: 0px;
}
.subscribe .s-btn{
    width: 40%;
    padding: 7px 10px;
    font-size: 14px;
    background: #00FFD0;
    border-radius: .25rem;
    color: #fff;
    border: 0px;
    cursor: pointer;
}

/*============================================
        2. ABOUT US SECTION
==============================================*/

.about-us{
    background: #000;
    height: 80vh;
}

.about-left h1{
    color: #00FFD0;
    font-family: 'Righteous';
    padding: 30px 0 0 30px;
}

.about-left p{
    color: #ccc;
    padding: 0 20px;
    font-family: 'Kanit';
}

.about-left img{
    width: 50%;
    padding-left: 20px;
}

.about-left img:last-child{
    width: 20%;
}

/*============================================
        3. GAMES SLIDER
==============================================*/

.games-slider{
    background: #000;
    height: 80vh;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;
    background: rgb(43, 43, 43);
}

.swiper-slide .imgBx{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.swiper-slide .imgBx img{
    width: 100%;
}

.swiper-slide .details{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
}

.swiper-slide .details h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.swiper-slide .details h3 span{
    font-size: 16px;
    color: #00FFD0;
}

.swiper-pagination-bullet{
    background: #ccc;
}

.swiper-pagination-bullet-active{
    background: #00FFD0;
}


/*============================================
        3. GAMES SLIDER
==============================================*/
